
<div class="w-50">
  <div class="card">
    <p class='card-text'>Your question = <%= @question%></p>
  </div>

  <div class="card">
    <p class='card-text'>Coach's answer : <%= @answer%></p>
  </div>
</div>

<%= link_to 'Say something else to the coach', ask_path%>
