<%# <form class='form-group' action='answer' data-turbo="false" method='get'>
  <input type="text" class='form-control' name="question">
  <input class='form-control' class='btn btn-primary' type="submit" value="Ask!">
</form> %>

<div class="container w-50">
  <h1>Stupid Coaching</h1>
  <form action='answer' class="form-group">
    <div class="form-group mb-2 d-flex align-items-center">
      <input type="text" class="form-control" name="question" placeholder='Type your question'>
      <button type="submit" class="btn btn-primary d-block ml-2">Ask</button>
    </div>
  </form>
</div>


<%# <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div> %>
